@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="pb-3">
    <div class="card shadow mx-auto" style="max-width: 500px;">
        <div class="card-header bg-success-subtle bg-gradient">
            <h1 class="mb-0 fw-bolder text-center text-dark">@ViewData["Title"]</h1>
        </div>

        <div class="card-body p-4">
            <form id="loginForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                @if (Model.ShowResendConfirmation)
                {
                    <div class="alert alert-warning">
                        Didn't receive the confirmation email?
                        <a asp-page="/Account/ResendEmailConfirmation" asp-route-email="@Model.Input.Email">Resend it</a>
                    </div>
                }

                <div class="form-floating mb-3 ">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username"
                        placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3 position-relative">
                    <input asp-for="Input.Password" class="form-control" type="password" id="passwordInput"
                        autocomplete="current-password" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <button type="button"
                        class="btn btn-sm btn-outline-secondary position-absolute top-50 end-0 translate-middle-y me-2"
                        onclick="togglePasswordVisibility()" tabindex="-1">
                        <i id="eyeIcon" class="fa fa-eye"></i>
                    </button>
                </div>

                <div class="form-check mb-3">
                    <input asp-for="Input.RememberMe" class="form-check-input" />
                    <label asp-for="Input.RememberMe" class="form-check-label">Remember me</label>
                </div>

                <div class="mb-3">
                    <a asp-page="./ForgotPassword">Forgot your password?</a>
                </div>

                <div class="d-grid gap-2">
                    <button id="login-submit" type="submit"
                        class="btn btn-lg btn-primary d-flex align-items-center gap-4">
                        <i class="fas fa-sign-in"></i>
                        <span class="fw-bold flex-fill">Log in</span>
                    </button>
                    <a class="btn btn-lg btn-secondary d-flex align-items-center gap-4" role="button"
                        asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        <i class="fas fa-user-plus"></i>
                        <span class="fw-bold flex-fill">Register</span>
                    </a>
                </div>
            </form>

            @if ((Model.ExternalLogins?.Count ?? 0) > 0)
            {
                <hr class="my-4" />
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="h5 border-bottom pb-2 mb-3">Or log in using</h2>
                    <div class="d-flex flex-column gap-2">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            var providerLower = provider.Name.ToLower();
                            if (providerLower == "facebook")
                            {
                                providerLower = "facebook-f";
                            }
                            var btnClass = providerLower switch
                            {
                                "facebook-f" => "btn-outline-primary",
                                "google" => "btn-outline-danger",
                                _ => "btn-outline-secondary"
                            };

                            <button type="submit" class="btn w-100 @btnClass d-flex align-items-center gap-2" name="provider"
                                value="@provider.Name">
                                <i class="fa-brands fa-@providerLower" style="font-size: 1.25rem; min-width: 24px"></i>
                                <span class="fw-bold">@provider.DisplayName</span>
                            </button>
                        }
                    </div>
                </form>
            }
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById("passwordInput");
            const eyeIcon = document.getElementById("eyeIcon");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
    </script>
}
