@model Bus_Station_Ticket_Management.Models.Driver

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header bg-primary bg-gradient text-white">
        <h1 class="h3 mb-0">Driver Details</h1>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.FullName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.FullName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.Address)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.Address)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.Gender)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.Gender)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.DateOfBirth)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.DateOfBirth)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Account.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Account.PhoneNumber)
            </dd>
        </dl>
    </div>
    <div class="card-footer d-flex gap-3 justify-content-end">
        <a class="btn btn-primary" role="button" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-outline-secondary" role="button" asp-action="Index">Back to List</a>
    </div>
</div>
