@model IEnumerable<Bus_Station_Ticket_Management.Models.Driver>

@{
	ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Drivers List</h1>

<a asp-action="Create" class="btn btn-primary mb-3" role="button">Add New Driver</a>

<table id="DriversTable" class="table table-hover table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LicenseId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Gender)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateOfBirth)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
            <th style="width: 30px">Actions</th>
		</tr>
	</thead>
	<tbody class="table-group=divider">
		@foreach (var item in Model)
		{
			<tr class="clickable-row" data-href="@Url.Action("Details", new { id = item.Id })">
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LicenseId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Gender)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateOfBirth)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td class="d-flex justify-content-end">
                    <div class="btn-group ">
                        <a role="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
			</tr>
		}
	</tbody>
</table>


@section Scripts {
    <script src="~/js/table.js"></script>
}