@model Bus_Station_Ticket_Management.Models.ApplicationUser

<div class="row">
    <dt class="col-sm-4 mt-2 fs-xs-6 fs-sm-5 fs-md-6">
        Full Name
    </dt>
    <dd class="col-sm-8 mt-2 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.FullName)
    </dd>
    <dt class="col-sm-4 mt-2 fs-xs-6 fs-sm-5 fs-md-6">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-8 mt-2 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-4 mt-2 fs-xs-6 fs-sm-5 fs-md-6">
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd class="col-sm-8 mt-2 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-4 mt-2 fs-xs-6 fs-sm-5 fs-md-6">
        Phone Number
    </dt>
    <dd class="col-sm-8 mt-2 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.PhoneNumber)
    </dd>
    <dt class="col-sm-4 mt-2 fs-xs-6 fs-sm-5 fs-md-6">
        Phone Number Confirmed
    </dt>
    <dd class="col-sm-8 mt-2 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.PhoneNumberConfirmed)
    </dd>
    <dt class="col-sm-4 mt-2 fs-xs-6 fs-sm-5 fs-md-6">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-8 mt-2 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-4 mt-2 fs-xs-6 fs-sm-5 fs-md-6">
        Email Confirmed
    </dt>
    <dd class="col-sm-8 mt-2 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.EmailConfirmed)
    </dd>
    <dt class="col-sm-4 mt-2 fs-xs-6 fs-sm-5 fs-md-6">
        Date Of Birth
    </dt>
    <dd class="col-sm-8 mt-2 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.DateOfBirth)
    </dd>
</div>
<div class="card-footer form-group d-flex justify-content-between mt-3" role="group" aria-label="Button group">
    <a role="button" class="btn btn-primary btn-lg" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>
