@model IEnumerable<Bus_Station_Ticket_Management.Models.ApplicationUser>

@{
    ViewData["Title"] = "User Table";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/ApplicationUser/Index.css">
</head>

<h1>Application Users</h1>

<a asp-action="Create" class="btn btn-primary mb-3" role="button">Create New</a>

<table id="ApplicationUserTable" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                Role
            </th>
            <th style="width: 30px">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group=divider">
        @foreach (var item in Model)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", new { id = item.Id })">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @{
                        string roleName;
                        if ((ViewBag.UserRoles as Dictionary<string, string>).TryGetValue(item.Id, out roleName))
                        {
                            @roleName
                        }
                        else
                        {
                            <span class="text-muted">No Role</span>
                        }
                    }
                </td>
                <td class="d-flex justify-content-end">
                    <div class="btn-group ">
                        <a role="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/table.js"></script>
}