@model IEnumerable<Bus_Station_Ticket_Management.Models.DriverLicense>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-success fw-bold mb-4">Driver Licenses List</h1>

<a asp-action="Create" class="btn btn-primary mb-3" role="button"><i class="fa fa-plus-circle"></i> Add New License</a>

<form asp-action="Index" method="get" class="mb-3">
    <div class="form-group input-group mb-2">
        <input type="text" class="form-control" value="@ViewBag.SearchString" name="searchString"
               placeholder="Search for licenses..." />
        <button type="submit" class="btn btn-outline-primary">
            Search <i class="fa fa-search"
                      style="font-size: 18px"></i>
        </button>
    </div>

    <div class="form-group input-group">
        <select title="Sort" class="form-control" name="sortBy" id="sortBy" onchange="this.form.submit()">
            <option value="" disabled selected>Sort By...</option>
            <optgroup label="Sort by License Class">
                <option value="class_asc" selected="@(ViewBag.SortBy == "class_asc" ? "selected" : null)">License Class Ascending ↑</option>
                <option value="class_desc" selected="@(ViewBag.SortBy == "class_desc" ? "selected" : null)">License Class Descending ↓</option>
            </optgroup>
            <optgroup label="Sort by Issue Date">
                <option value="issue_date_asc" selected="@(ViewBag.SortBy == "issue_date_asc" ? "selected" : null)">Issue Date Ascending ↑</option>
                <option value="issue_date_desc" selected="@(ViewBag.SortBy == "issue_date_desc" ? "selected" : null)">Issue Date Descending ↓</option>
            </optgroup>
            <optgroup label="Sort by Expiration Date">
                <option value="exp_date_asc" selected="@(ViewBag.SortBy == "exp_date_asc" ? "selected" : null)">Expiration Date Ascending ↑</option>
                <option value="exp_date_desc" selected="@(ViewBag.SortBy == "exp_date_desc" ? "selected" : null)">Expiration Date Descending ↓</option>
            </optgroup>
        </select>

        <select class="form-control ms-2" name="filterByClass" id="filterByClass" onchange="this.form.submit()">
            <option value="" disabled selected>Filter By License Class</option>
            <option value="A1" selected="@(ViewBag.FilterByClass == "A1" ? "selected" : null)">A1</option>
            <option value="A2" selected="@(ViewBag.FilterByClass == "A2" ? "selected" : null)">A2</option>
            <option value="A3" selected="@(ViewBag.FilterByClass == "A3" ? "selected" : null)">A3</option>
            <option value="A4" selected="@(ViewBag.FilterByClass == "A4" ? "selected" : null)">A4</option>
            <option value="B1" selected="@(ViewBag.FilterByClass == "B1" ? "selected" : null)">B1</option>
            <option value="B2" selected="@(ViewBag.FilterByClass == "B2" ? "selected" : null)">B2</option>
            <option value="C" selected="@(ViewBag.FilterByClass == "C" ? "selected" : null)">C</option>
            <option value="D" selected="@(ViewBag.FilterByClass == "D" ? "selected" : null)">D</option>
            <option value="E" selected="@(ViewBag.FilterByClass == "E" ? "selected" : null)">E</option>
            <option value="F" selected="@(ViewBag.FilterByClass == "F" ? "selected" : null)">F</option>
            <option value="FC" selected="@(ViewBag.FilterByClass == "FC" ? "selected" : null)">FC</option>
        </select>
    </div>
</form>

<div class="table-responsive mb-3 shadow rounded">
    <table id="DataTable"
           class="table table-hover table-striped align-middle mb-0"
           data-details-url="/Admin/DriverLicense/DetailsPartial"
           data-table-name="DriverLicense"
           data-table-title="Driver Licenses">
        <thead class="align-middle">
            <tr>
                <th style="min-width: 150px;">Driver</th>
                <th style="min-width: 100px;">License ID</th>
                <th style="min-width: 100px;">License Class</th>
                <th style="min-width: 120px;">Issue Date</th>
                <th style="min-width: 120px;">Expiration Date</th>
                <th style="min-width: 150px;">Issue Place</th>
                <th style="width: 30px">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr class="clickable-row" data-id="@item.DriverId" data-secondary-id="@item.LicenseId" style="cursor: pointer;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Driver.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicenseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicenseClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicenseIssueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicenseExpirationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicenseIssuePlace)
                    </td>
                    <td class="px-1 py-1 text-center" onclick="event.stopPropagation()">
                        <div class="dropdown" data-bs-theme="dark">
                            <button class="btn btn-outline-secondary dropdown-toggle px-2 py-1" type="button"
                                    data-bs-toggle="dropdown" data-tippy-content="More Actions">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end shadow">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-2" asp-action="Edit"
                                       asp-route-driverId="@item.DriverId" asp-route-licenseId="@item.LicenseId">
                                        <i class="fa fa-edit text-primary"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-2" asp-action="Delete"
                                       asp-route-driverId="@item.DriverId" asp-route-licenseId="@item.LicenseId">
                                        <i class="fa fa-trash text-danger"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="detailsOffcanvas" aria-labelledby="detailsOffcanvasLabel"
     style="width: 40%; min-width: 550px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-primary fs-1 fw-bold" id="detailsOffcanvasLabel">License Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0 py-0 card" id="detailsOffcanvasBody">
        <div class="text-center p-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/Index.css">
}

@section Scripts {
    <script src="~/js/table.js"></script>
    <script>
        $(document).ready(function () {
            fetchDetails('DriverLicense');
        });
    </script>
}