@model X.PagedList.IPagedList<Bus_Station_Ticket_Management.Models.TripDriverAssignment>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Assignment</h1>

<a asp-action="Create" class="btn btn-primary mb-3" role="button">Create New</a>

<form asp-action="Index" method="get" class="mb-3">
    <div class="form-group input-group">
        <input type="text" class="form-control" name="searchString" value="@ViewBag.SearchString"
               placeholder="Search by driver or route..." />
        <button type="submit" class="btn btn-outline-primary">Search <i class="fa fa-search"></i></button>
    </div>

    <div class="form-group input-group mt-2">
        <select class="form-control" name="sortBy" onchange="this.form.submit()">
            <option value="" disabled selected>Sort by...</option>
            <optgroup label="Date Assigned">
                <option value="date_asc" selected="@(ViewBag.SortBy == "date_asc" ? "selected" : null)">Date ↑</option>
                <option value="date_desc" selected="@(ViewBag.SortBy == "date_desc" ? "selected" : null)">Date ↓</option>
            </optgroup>
            <optgroup label="Driver">
                <option value="driver_asc" selected="@(ViewBag.SortBy == "driver_asc" ? "selected" : null)">Driver ↑</option>
                <option value="driver_desc" selected="@(ViewBag.SortBy == "driver_desc" ? "selected" : null)">Driver ↓</option>
            </optgroup>
            <optgroup label="Trip Route">
                <option value="trip_asc" selected="@(ViewBag.SortBy == "trip_asc" ? "selected" : null)">Route ↑</option>
                <option value="trip_desc" selected="@(ViewBag.SortBy == "trip_desc" ? "selected" : null)">Route ↓</option>
            </optgroup>
        </select>
    </div>
</form>

<table id="AssigmentTable" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Trip</th>
            <th>Driver</th>
            <th>Date Assigned</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", new { id = item.Id })">
                <td>
                    @item.Trip.Route.StartLocation.Name ➞ @item.Trip.Route.DestinationLocation.Name
                </td>
                <td>
                    @item.Driver.FullName
                </td>
                <td>
                    @item.DateAssigned.ToShortDateString()
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-secondary rounded-start" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger rounded-end" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
    @if (Model.Any())
    {
        @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { page = pageNumber, searchString =
        ViewBag.SearchString }),
        new PagedListRenderOptions
        {
            UlElementClasses = new[] { "pagination", "justify-content-center" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            ActiveLiElementClass = "active",
            LinkToPreviousPageFormat = "&laquo;",
            LinkToNextPageFormat = "&raquo;"
        })
        }
</nav>

@section Scripts {
    <script src="~/js/table.js"></script>
}