@model IEnumerable<Bus_Station_Ticket_Management.Models.Driver>

@{
	ViewData["Title"] = "Index";
}

<h1>Drivers List</h1>

<a asp-action="Create" class="btn btn-primary mb-3" role="button">Add New Driver</a>

<table id="DriversTable" class="table table-hover table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LicenseId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Gender)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateOfBirth)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="table-group=divider">
		@foreach (var item in Model)
		{
			<tr class="clickable-row" data-href="@Url.Action("Details", new { id = item.Id })">
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LicenseId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Gender)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateOfBirth)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PhoneNumber)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" role="button">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>


@section Scripts {
    <script src="~/js/table.js"></script>
}