@model Bus_Station_Ticket_Management.Models.VehicleType
<div class="row">
    <dt class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.Price)
    </dd>
    <dt class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayNameFor(model => model.TotalSeats)
    </dt>
    <dd class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.TotalSeats)
    </dd>
    <dt class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayNameFor(model => model.TotalColumn)
    </dt>
    <dd class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.TotalColumn)
    </dd>
    <dt class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayNameFor(model => model.TotalRow)
    </dt>
    <dd class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.TotalRow)
    </dd>
    <dt class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayNameFor(model => model.TotalFlooring)
    </dt>
    <dd class="col-sm-12 fs-xs-4 fs-sm-4 fs-md-5">
        @Html.DisplayFor(model => model.TotalFlooring)
    </dd>
</div>
<div class="card-footer form-group d-flex justify-content-between mt-4" role="group" aria-label="Button group">
    <a role="button" class="btn btn-primary btn-lg" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>
