@model Bus_Station_Ticket_Management.Models.VehicleType

<div class="card-body">
    <h5 class="card-title text-primary mb-3">
        <i class="fa-solid fa-bus me-2"></i>Vehicle Information
    </h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item px-0">
            <strong><i class="fas fa-tag me-2 text-secondary"></i>Name:</strong>
            <span class="ms-1">@Model.Name</span>
        </li>
        <li class="list-group-item px-0">
            <strong><i class="fas fa-dollar-sign me-2 text-success"></i>Price:</strong>
            <span class="ms-1">@Html.DisplayFor(model => model.Price)</span>
        </li>
        <li class="list-group-item px-0">
            <strong><i class="fas fa-chair me-2 text-secondary"></i>Total Seats:</strong>
            <span class="ms-1">@Model.TotalSeats</span>
        </li>
        <li class="list-group-item px-0">
            <strong><i class="fas fa-columns me-2 text-secondary"></i>Total Columns:</strong>
            <span class="ms-1">@Model.TotalColumns</span>
        </li>
        <li class="list-group-item px-0">
            <strong><i class="fas fa-bars me-2 text-secondary"></i>Total Rows:</strong>
            <span class="ms-1">@Model.RowsPerFloor.Sum()</span>
        </li>
        <li class="list-group-item px-0">
            <strong><i class="fas fa-layer-group me-2 text-secondary"></i>Total Floors:</strong>
            <span class="ms-1">@Model.TotalFloors</span>
        </li>
    </ul>
</div>
</div>
<div class="card-footer form-group d-flex justify-content-between" role="group" aria-label="Button group">
    <a role="button" class="btn btn-lg btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">
        <i class="fas fa-edit"></i> Edit Vehicle Type
    </a>
    <a role="button" class="btn btn-lg btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>
</div>
