@model Bus_Station_Ticket_Management.Models.VehicleType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFlooring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFlooring)
        </dd>
    </dl>
</div>
<div class="btn-group gap-1">
    <a asp-action="Edit" role="button" class="btn btn-success" asp-route-id="@Model?.Id">Edit</a>
    <a asp-action="Index" role="button" class="btn btn-outline-secondary" >Back to List</a>
</div>
