@model IEnumerable<Bus_Station_Ticket_Management.Models.VehicleType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-success fw-bold mb-4">Vehicle Type List</h1>

<a asp-action="Create" class="btn btn-primary mb-3" role="button" data-tippy-content="Use this to add new vehicle types to database"><i class="fa fa-plus-circle"></i> Add New Type</a>

<div class="table-responsive mb-3 shadow rounded">
    <table id="DataTable" class="table table-hover table-striped align-middle mb-0" data-details-url="/Admin/VehicleType/DetailsPartial" data-table-name="VehicleType" data-table-title="Vehicle Type">
        <thead>
            <tr>
                <th style="min-width: 200px;">Name</th>
                <th style="min-width: 150px;">Base Fare</th>
                <th style="min-width: 100px;">Total Seats</th>
                <th style="min-width: 100px;">Total Floors</th>
                <th style="min-width: 100px;">Total Rows</th>
                <th style="min-width: 100px;">Total Columns</th>
                <th style="min-width: 56px; max-width: 56px; text-align: right;">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr class="clickable-row" data-id="@item.Id" style="cursor: pointer;">
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalSeats)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalFloors)</td>
                    <td>@Html.DisplayFor(modelItem => item.RowsPerFloor.Sum())</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalColumns)</td>
                    <td class="action-buttons" onclick="event.stopPropagation()" style="min-width: 90px; max-width: 90px; width: 90px !important;">
                        <!-- Dropdown Buttons (Hidden by default) -->
                        <div class="dropdown dropdown-buttons" style="display:none;" data-bs-theme="dark">
                            <button class="btn btn-outline-secondary dropdown-toggle px-2 py-1" type="button"
                                data-bs-toggle="dropdown" data-tippy-content="More Actions">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end shadow">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-2" asp-action="Edit"
                                        asp-route-id="@item.Id">
                                        <i class="fa fa-edit text-primary"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center gap-2" asp-action="Delete"
                                        asp-route-id="@item.Id">
                                        <i class="fa fa-trash text-danger"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Simple Buttons (Visible by default on small tables) -->
                        <div class="btn-group simple-buttons" role="group" style="display:none; min-width: 90px;">
                            <a role="button" class="btn btn-secondary rounded-start" asp-action="Edit" asp-route-id="@item.Id" data-tippy-content="Edit Content">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a role="button" class="btn btn-danger rounded-end" asp-action="Delete" asp-route-id="@item.Id" data-tippy-content="Delete Content">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="detailsOffcanvas" aria-labelledby="detailsOffcanvasLabel" style="width: 40%; min-width: 500px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-primary fs-1 fw-bold" id="detailsOffcanvasLabel">Vehicle Type Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0 py-0 card" id="detailsOffcanvasBody">
        <div class="text-center p-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/Index.css">
}

@section Scripts {
    <script src="~/js/table.js"></script>
}
