@model Bus_Station_Ticket_Management.Models.Routes

@{
    ViewData["Title"] = "Create Route";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@* 
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Are you sure you want to delete this?</h4>

        <dl class="row mt-3">
            <dt class="card-text col-sm-5 col-md-4 fs-5">
                @Html.DisplayNameFor(model => model.StartId)
            </dt>
            <dd class="card-text col-sm-7 col-md-8 fs-5">
                @Html.DisplayFor(model => model.StartLocation.Name)
            </dd>
            <dt class="card-text col-sm-5 col-md-4 fs-5">
                @Html.DisplayNameFor(model => model.DestinationId)
            </dt>
            <dd class="card-text col-sm-7 col-md-8 fs-5">
                @Html.DisplayFor(model => model.DestinationLocation.Name)
            </dd>
            <dt class="card-text col-sm-5 col-md-4 fs-5">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="card-text col-sm-7 col-md-8 fs-5">
                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", Model.Price)
            </dd>
        </dl>
    </div>
    <form asp-action="Delete" class="card-footer form-group d-flex justify-content-between">
        <input type="hidden" asp-for="Id" />
        <a role="button" class="btn btn-outline-secondary btn-lg" asp-action="Index">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
    </form>
</div> *@


<div class="card">
    <div class="card-header bg-success-subtle"><h2>@ViewData["Title"]</h2></div>

    <div class="card-body">
        <div class="card-title"></div>
        <form asp-action="Create" id="createRoute" class="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md form-group mb-3">
                    <label asp-for="StartId" class="control-label"></label>
                    <select asp-for="StartId" class="form-control route-select" asp-items="ViewBag.StartLocation"></select>
                    <span asp-validation-for="StartId" class="text-danger"></span>
                </div>
                <div class="col-md form-group mb-3">
                    <label asp-for="DestinationId" class="control-label"></label>
                    <select asp-for="DestinationId" class="form-control route-select" asp-items="ViewBag.DestinationLocation"></select>
                    <span asp-validation-for="DestinationId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="..VND"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </form>
    </div>
    <div class="card-footer form-group d-flex justify-content-between">
        <a asp-action="Index" class="btn btn-lg btn-outline-secondary">Back to List</a>
        <input type="submit" form="createRoute" value="Save" class="btn btn-lg btn-primary" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
