@model Bus_Station_Ticket_Management.Models.Routes

@{
    ViewData["Title"] = "Route Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mt-3">
    <div class="card-header bg-success-subtle">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="card-body">
        <dl class="row mt-3">
            <dt class="card-text col-sm-5 col-md-4 fs-5">
                @Html.DisplayNameFor(model => model.StartId)
            </dt>
            <dd class="card-text col-sm-7 col-md-8 fs-5">
                @Html.DisplayFor(model => model.StartLocation.Name)
            </dd>
            <dt class="card-text col-sm-5 col-md-4 fs-5">
                @Html.DisplayNameFor(model => model.DestinationId)
            </dt>
            <dd class="card-text col-sm-7 col-md-8 fs-5">
                @Html.DisplayFor(model => model.DestinationLocation.Name)
            </dd>
            <dt class="card-text col-sm-5 col-md-4 fs-5">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="card-text col-sm-7 col-md-8 fs-5">
                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", Model.Price)
            </dd>
        </dl>
    </div>
    <div class="card-footer form-group d-flex justify-content-between">
        <a role="button" class="btn btn-outline-secondary btn-lg" asp-action="Index">Back to List</a>
        <a role="button" class="btn btn-outline-primary btn-lg" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    </div>
</div>


