@model IEnumerable<Bus_Station_Ticket_Management.Models.Rating>

@{
    ViewData["Title"] = "Ratings";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Index.css">
</head>

<h2 class="mb-4 text-primary fw-bold">Rating List</h2>
@if (Model.Count() == 0)
{
    <div class="alert alert-info">
        No ratings found.
    </div>
}
else
{
    <div class="table-responsive mb-3 shadow rounded">
    <table id="RatingsTable" class="table table-hover table-striped align-middle mb-0">
        <thead>
            <tr>
                <th>Trip</th>
                <th>Trip Date</th>
                <th>User</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody class="table-group=divider">
            @foreach (var rating in Model)
            {
                <tr class="clickable-row" data-href="@Url.Action("Details", new { id = rating.Id })">
                    <td>
                        <div class="fw-semibold">
                            @rating.Trip.Route.StartLocation.Name → @rating.Trip.Route.DestinationLocation.Name
                        </div>
                    </td>
                    <td>@rating.Trip.ArrivalTime - @rating.Trip.DepartureTime</td>
                    <td>@rating.User.UserName</td>
                    <td>
                        <span class="badge bg-warning text-dark fs-6">
                            @rating.TripRating ★
                        </span>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </div>
}

<div class="offcanvas offcanvas-end" tabindex="-1" id="detailsOffcanvas" aria-labelledby="detailsOffcanvasLabel"
    style="width: 40%; min-width: 550px;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-primary fs-1 fw-bold" id="detailsOffcanvasLabel">Rating Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" --bs-offcanvas-padding-x="3400px" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-0 py-0 card" id="detailsOffcanvasBody">
        <div class="text-center p-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>


@section Styles{
    <link rel="stylesheet" href="~/css/Index.css">
}

@section Scripts {
    <script src="~/js/table.js"></script>
    <script src="~/js/initOSM.js"></script>
    <script>
        $(document).ready(function () {
            // Handle row clicks
            fetchDetails('Rating', false, true);
        });
    </script>
}