@model List<Bus_Station_Ticket_Management.Models.Ticket>

@{
    ViewData["Title"] = "My Tickets";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Your Booked Tickets</h2>

@if (Model.Count == 0)
{
    <p>You haven't booked any tickets.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Trip</th>
                <th>Seat Number</th>
                <th>Booking Date</th>
                <th>Paid</th>
                <th>Canceled</th>
                <th>Cancellation Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.Id</td>
                    <td>
                        @(
                            ticket.Trip?.Route != null
                            ? (ticket.Trip.Route.StartLocation?.Name + " - " + ticket.Trip.Route.DestinationLocation?.Name)
                            : "No Route"
                        )
                    </td>
                    <td>@ticket.Seat?.Number</td>
                    <td>@ticket.BookingDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@(!ticket.IsPaid ? "✔️" : "❌")</td>
                    <td>@(ticket.IsCanceled ? "✔️" : "❌")</td>
                    <td>@(ticket.IsCanceled? ticket.CancelationTime.ToString("dd/MM/yyyy HH:mm") : "-")</td>
                </tr>
                }
        </tbody>
    </table>
}
